body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    height: 100vh;
    color: #003366;
    position: relative;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.foreground-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.waves {
    width: 100%;
    height: auto;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
    max-width: 600px;
    width: 100%;
    position: relative;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
}

main {
    text-align: left;
}

.news-section, .news-form-section {
    margin-bottom: 20px;
}

.news-section h2, .news-form-section h2 {
    margin-bottom: 10px;
    color: #003366;
}

.news-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.news-title {
    font-weight: bold;
}

.actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icon {
    width: 20px;
    cursor: pointer;
}

.input, .textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #003366;
    box-sizing: border-box;
    outline: none;
}

.input:focus, .textarea:focus {
    border-color: #ccc;
}

.textarea {
    height: 100px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.symbol-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-edit-btn {
    display: none;
}